@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@500;600;700&family=Poppins:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9a8d4;
}
::-webkit-scrollbar {
  display: none;
}
.poppins {
  font-family: "Poppins";
}
.montserrat {
  font-family: "Amatic SC";
}
